@media /*(min-width: 768px) and*/ (max-width: 850px) {
    .content {
        margin: 65px 10px 0;
        padding: 10px 0 0 0;
    }
    .product-block {
        display: flex;
        flex-direction:column;
        padding: 12px 7px;
        width: 33%;
        border-radius: 3%;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }
    .product-cost {
        font-size: 22px;
    }
    .old-cost{
        font-size: 14px;
    }
    .product-text {
        font-size: 14px;
        margin: 0;
    }
    .currency {
        font-size: 14px;
    }
    .bottom-text{
        font-size: 18px;
        width: 100%;
        padding: 6px;
    }
    .img-bottom {
        margin: 5px 0 0 0;
    }
    .product-block:hover{
        transform: none;
        box-shadow: none;
    }
}