/* ClientPage */
.product-cost {
    font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 18) + 18px);
}
.old-cost, .bottom-text{
    font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 18) + 12px);
}
.product-text, .currency {
    font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 18) + 9px);
}
/*_____________________*/

/* ProductPage */
.card-pr-cost {
    font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 18) + 24px);
}
.card-pr-name {
    font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 18) + 18px);
}
.card-pr-currency, .card-pr-discount, .card-har {
    font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 18) + 14px);
}
/*______________*/


.cart-text{
    font-size: 14px;
}

@media (max-width: 850px) {
    /* ClientPage */
    .product-cost {
        font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 18) + 20px);
    }
    .old-cost, .bottom-text{
        font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 18) + 14px);
    }
    .product-text, .currency {
        font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 18) + 12px);
    }
    /*______________________*/
    
    /* ProductPage */
    .card-pr-cost {
        font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 18) + 22px);
    }
    .card-pr-name {
        font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 18) + 16px);
    }
    .card-pr-currency, .card-pr-discount, .card-har {
        font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 18) + 12px);
    }
    /*______________*/

}

@media (max-width: 600px) {
    /* ClientPage */
    .product-cost {
        font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 18) + 22px);
    }
    .old-cost, .bottom-text {
        font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 18) + 16px);
    }
    .product-text, .currency {
        font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 18) + 14px);
    }
    /*______________________*/


    /* ProductPage */
    .card-pr-cost {
        font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 18) + 24px);
    }
    .card-pr-name {
        font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 18) + 18px);
    }
    .card-pr-currency, .card-pr-discount, .card-har {
        font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 18) + 14px);
    }
    /*______________*/

}

@media (max-width: 335px) {
    /* ClientPage */
    .product-cost {
        font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 18) + 20px);
    }
    .old-cost, .bottom-text{
        font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 18) + 14px);
    }
    .product-text, .currency {
        font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 18) + 12px);
    }
    /*______________________*/


    /* ProductPage */
    .card-pr-cost {
        font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 18) + 24px);
    }
    .card-pr-name {
        font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 18) + 18px);
    }
    .card-pr-currency, .card-pr-discount, .card-har {
        font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 18) + 14px);
    }
    /*______________*/

}

@media (min-width: 1400px) {
    /* ClientPage */
    .product-cost {
        font-size: 24px;
    }
    .old-cost, .bottom-text{
        font-size: 18px;
    }
    .product-text, .currency {
        font-size: 14px;
    }
    /*________________________*/


    /* ProductPage */
    .card-pr-cost {
        font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 18) + 26px);
    }
    .card-pr-name {
        font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 18) + 20px);
    }
    .card-pr-currency, .card-pr-discount, .card-har {
        font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 18) + 18px);
    }
    /*______________*/

}