.wrapper {
    max-width: 1400px;
    margin: 0 auto 0;
    padding: 40px 0 0 0;
}
.pp-content-block {
    width: 100%;
    /*height: 500px;*/
    justify-content: space-between;
    padding: 0 0 0 20px;
}
.w-33{
    width: 33%;
    margin: 0 auto;
}
.parent-flex {
    flex-direction: column;
}
.offcanvas-style {
    padding: 0;
    position: absolute;
    top: 70px;
    left: 0;
    width: 60%;
    height: 100vh;
    margin: 0;
}
.offcanvas-end {
    width: 40%;
    padding: 70px 0 0 0;
}
.img-client-first{
    /*width: 100%;*/
    /*height: 100%;*/
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 3%;
    /*height: 100%;*/
    /*position: relative;*/
    /*top:0;*/
    /*left: 0;*/
    border: #2c3e50 2px solid;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* наполняем контейнер */
    height: 100%; /* а также по высоте */
}
.img-block {
    position: relative;
    width: 100%; /* Задаем ширину в половину родительского элемента */
    height: 0;
    padding-top: 140%;
}
.first-photo-block {
    width: 75%;
}
.img-list {
    width: 25%;
    /*height: 100%;*/
    /*overflow: hidden;*/
}
.img-list-client {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 5%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* наполняем контейнер */
    height: 100%; /* а также по высоте */
    /*min-width: 20%;*/
    /*max-width: 90%;*/
    /*aspect-ratio: 9/12;*/
}
ul.images {
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction:column;
    overflow: scroll;
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    /*overflow: hidden;*/
}
/*@media screen and (max-width: 1500px) {*/
/*    ul.images {*/
/*        width: 100%;*/
/*    }*/
/*}*/
ul.images li {
    display: inline-block;
    flex: 0 0 auto;
    width: 100%;

    /*min-height: 20%;*/
    /*aspect-ratio: 9/12;*/
    margin: 0 0 5px 0;
    padding: 5px;
    border-radius: 5%;
}
ul.images li:hover{
    padding: 0;
    border: 2px solid rgba(0,0,0,0.1);
    box-shadow: 0 0 5px rgba(0,0,0,0);
    border-radius: 6%;
}
ul.images li:last-child{
    margin: 0;
}
.no-scrollbar {
    overflow-y: scroll;
    scrollbar-width: none; /*mozilla*/
}
.no-scrollbar::-webkit-scrollbar {
    display: none; /*chrome*/
}
div.zoom {
    background-position: 50% 50%;
    position: relative;
    height: 100%;
    /*width: 100%;*/
    overflow: hidden;
    cursor: zoom-in;
    background-repeat: no-repeat;
    border-radius: 3%;
}
div.zoom .img-client-first:hover {
    opacity: 0;
}
div.zoom .img-client-first {
    transition: opacity 0.5s;
    display: block;
    height: 100%;
    margin: 0 auto;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.alignment{
    line-height:60px;
    margin:0;
    text-align:center;
    padding: 0;
}
.carousel-btn{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
}
.carousel-btn{
    opacity: 0;
}
.carousel-btn:hover{
    color: #d946d2;
}
#app {
    height: 100%;
}
html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 50%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide {
    width: 55%;
}
.info-block {
    margin: 20px 0 0 0;
}
.card-pr-cost {
    display: inline-block;
    margin: 20px 0;
}
.see-more {
    margin: 40px 0 0 0;
}
.card-pr-text-block {
    width: 80%;
    margin: 20px auto 0;
}

.card-pr-name, .card-pr-cost{
    font-weight: bold;
}
.line-start {
    white-space: nowrap;
}
.dotted-line {
    flex-grow: 1;
    border-bottom: 1px dotted #a6a6a6; /* Цвет и стиль линии */
    margin: 0 8px; /* Отступ линии */
}
.line-end {
    white-space: nowrap;
}
.all-har {
    color: rgb(115, 112, 227);
}
.all-har:hover {
    color: #9a97ff;
}
.link-offset-2 {
    text-decoration: none !important;
    text-underline-offset: 0 !important
}
