@media /*(min-width: 768px) and*/ (max-width: 700px) {
    .pp-content-block {
        width: 100%;
        padding: 0;
    }
    .card-pr-text-block {
        padding: 0;
        margin: 0;
        /*border: black solid 2px;*/
    }
    .p-4 {
        padding: 4% !important;
    }
    .p-2 {
        padding: 0 !important;
    }
    .see-more {
        padding: 20px 16px 0 16px;
        margin: 0;
    }
    .card-pr-cost {
        margin: 0 ;
    }
    p {
        margin-top:0;
        margin-bottom: 0;
    }
    .card-pr-name {
        margin: 0 0 10px 0;
    }
    .my-bc {
        background-color: rgba(234, 234, 234, 0.45);
    }
    .separation-blocks {
        background-color: #ffffff;
        width: 100%;
        border-radius: 20px;
        padding: 16px;
        margin: 8px 0;
        box-shadow: none;
    }
    .card-har {
        margin: 7px 0 0 0;
    }
    .pr-params-list {
        padding: 0 10px;
    }
    .pr-btn {
        width: calc(100% - 32px);
        margin: 0 16px;
        padding: 5px 0;
    }
}
