@import './base.css';

.button{
    margin: 5px auto;
    width: 200px;
    height: 30px;
    background: rgba(52, 113, 33, 0.45);
}
.loading {
    margin: 30px 0 0 0;
    text-align: center;
}
.h1 {
    text-align: center;
}
.container-block {
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0 0;
}
.shadow-icon:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-radius: 50%;
}
.shadow-edit:hover{
    opacity: 0.6;
}
input {
    height: 25px;
    font-size: 14px;
}
.delete{
    margin: 0 10px 0 0;
}
select{
    height: 25px;
    font-size: 14px;
}
.flex-list{
    display: flex;
    flex-direction:column;
}

/*_____________TABLE______________*/
/*.table{*/
/*    background-color: rgba(255, 255, 255, 0.34);*/
/*    border-collapse: collapse;*/
/*}*/
.select-none-click{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*tbody:nth-child(odd){*/
/*    background-color:  rgba(0, 0, 0, 0.1);;*/
/*}*/
/*.thead {*/
/*    background-color: #2c3e50;*/
/*    color: white;*/
/*    line-height: 2;*/
/*}*/
th {
    line-height:24px;
}
/*.child-list {*/
/*    background-color: white;*/
/*}*/
/*tbody:nth-child(odd){*/
/*    background-color:  rgba(0, 0, 0, 0);*/
/*}*/
/*.grey-tr{*/
/*    background-color: rgba(149, 149, 149, 0.22);*/
/*    !*border-top: 1px solid rgba(0, 0, 0, 0.05);*!*/
/*    border-bottom: 1px solid rgba(0, 0, 0, 0.05);*/
/*}*/
/*.white-tr{*/
/*    background-color: rgba(255, 255, 255, 0.4);*/
/*}*/
.none-active-icon{
    color: #a80000;
    font-size: 26px;
    font-weight: 600;
}
.active-icon{
    color: #008200;
    font-size: 26px;
    font-weight: 600;
}
/*.white-tr th:before{*/
/*    content: "→";*/
/*    text-align: end;*/
/*}*/
/*_____________________________*/

/*________________MODAL__________________*/
.p-mod {
    padding: 3%;
    max-height: 90vh;
    overflow-x:scroll;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
/*____________________________________________*/

/*#app {*/
/*  max-width: 1280px;*/
/*  margin: 50px auto;*/
/*  padding: 2rem;*/
/*  border: #e80000 solid 2px;*/

/*  font-weight: normal;*/
/*}*/

/*a,*/
/*.green {*/
/*  text-decoration: none;*/
/*  color: hsla(160, 100%, 37%, 1);*/
/*  transition: 0.4s;*/
/*}*/

/*@media (hover: hover) {*/
/*  a:hover {*/
/*    background-color: hsla(160, 100%, 37%, 0.2);*/
/*  }*/
/*}*/

/*@media (min-width: 1024px) {*/
/*  body {*/
/*    display: flex;*/
/*    place-items: center;*/
/*  }*/

/*  #app {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    padding: 0 2rem;*/
/*    !*margin: 0 auto;*!*/
/*  }*/
/*}*/
